/* COLORES
#FFFFFF BLANCO
#F1D64E ANARILLO
#E9605C ROJO
#71A362 VERDE
#50B1BA AQUA
#EB8D3E NARANJA
#2D2E83 MORADO
*/

@font-face {
    font-family: Korolev;
    src: url(../assets/fonts/Korolev-Bold.ttf);
}

/*RESET*/
* {
    margin: 0;
    padding: 0;
}

h1,
h2,
p {
    text-align: center;
}

ul,
ol,
li {
    list-style: none;
    text-align: center;
}

a {
    text-decoration: none;
    text-align: center;
}

.tag {
    display: inline;
    margin: 20px;
    background-color: #EB8D3E;
    display: flex;
    width: 30%;
    justify-content: center;
    padding-top: 10px;
    max-width: 280px;
    min-width: 180px;
}

.tag__tittle {
    padding: 10px;
    color: #FFFFFF;
    font-size: xx-large;
}

/*NAVBAR*/

#navbar {
    padding: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#navbar a {
    padding: 0px;
}

.header {
    color: #FFFFFF;
    font-family: korolev;
    width: 100%;
    font-size: 32px;
    position: sticky;
    transition: .4s;
}

.navbar-nav a:hover {
    color: #ffffff;
    transform: scale(1.1);
}

nav .header-logo {
    width: 50px;
    position: sticky;
    top: 10px;
}

nav a {
    color: #ffffff;
}

nav li {
    margin-top: 10px;
}

nav ul {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-evenly;
    width: 100%;
}

/*footer*/

footer {
    background: #2D2E83;
    font-family: korolev;
    position: relative;
    bottom: 0;
}

.footer__title {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #EB8D3E;
    color: #fff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    font-size: 20px;
    font-family: korolev;
    padding: 5px;
}

.footer__title h3 {
    align-self: center;
    margin: 0%;
}

.footer__grid {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    margin-bottom: 0px;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 5px;
    padding: 20px;
}

.footer__grid a {
    text-decoration: none;
    color: #fff;
    list-style: none;
    padding: 10px;
    width: auto;
    font-size: xx-large;
}

.footer__link--1:hover {
    color: #4f7de2;
    transform: scale(1.1);
}

.footer__link--2:hover {
    color: #f316bf;
    transform: scale(1.1);
}

.footer__link--3:hover {
    color: #1cbd2c;
    transform: scale(1.1);
}

@media only screen and (min-width:550px) {
    .footer__grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/*INDEX*/

.bodyindex {
    background-image: url(../assets/background_index.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.index__logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.index__logo img {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
    margin-bottom: 110px;
}

.index__banner {
    color: #ffffff;
    background-color: #EB8D3E;
    font-size: xx-large;
    font-family: korolev;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    min-width: 250px;
    max-width: 400px;
    width: 50%;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #3939396e;
}

.index__grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.index__message {
    color: #50B1BA;
    background-color: #ffffff;
    font-size: large;
    font-family: korolev;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: 80%;
    min-width: 250px;
    max-width: 800px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #3939396e;
}

.index__grid--cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    margin-bottom: 50px;
    max-width: 800px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
}

.index__card {
    width: auto;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 3px 3px 3px #36363685;
    transition: .2s;
}

.index__card:hover {
    transform: scale(1.1);
}

.index__card img {
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.index__card p {
    font-family: korolev;
    color: #50B1BA;
    font-size: larger;
}

.index__card h2 {
    font-family: korolev;
    color: #2D2E83;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    padding-top: 20px;
}

@media only screen and (min-width:800px) {
    .index__grid--cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (min-width:1200px) {
    .index__grid--cards {
        max-width: 1000px;
    }
}

/*GALERIA*/

.body__galery {
    background-image: url(../assets/background_galeria.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

#gallery__section {
    margin-top: 100px;
    margin-bottom: 100px;
}

.gallery__grid {
    max-width: 900px;
    margin-top: 150px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
    padding: 60px;
}

.card--gallery {
    width: auto;
    height: auto;
    transition: .2s;
}

.card--gallery:hover {
    box-shadow: 3px 3px 3px 3px rgba(70, 70, 70, 0.359);
    transform: scale(1.1, 1.1);
}

@media only screen and (min-width:600px) {
    .gallery__grid {
        grid-template-columns: 1fr 1fr;
    }
}


@media only screen and (min-width:1200px) {
    .gallery__grid {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1000px;
        padding: 30px;
        margin-top: 180px;
    }

    .card--gallery:hover {
        transform: scale(2, 2);
    }
}


/*PAQUETES*/
.body__paquetes {
    background-image: url(../assets/background_paquetes.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0px;
}

.cards__section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr;
    padding: 40px;
    max-width: 900px;
    height: auto;
    grid-row-gap: 30px;
    grid-column-gap: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
    justify-items: center;
}

.cards__section img {
    width: 100%;
}

.card {
    max-height: auto;
    max-width: 278px;
}

.card__list {
    padding: 20px;
    margin: 0px;
}

.card__list li {
    font-family: korolev;
}

.card__body {
    max-width: 300px;
    height: 500px;
}

.card__body--sample {
    max-width: 300px;
    max-height: 300px;
    font-family: korolev;
    font-size: large;
}

.card__body--sample h2 {
    margin: 0%;
}

.card__title {
    margin: 0%;
}

.card__body p {
    font-family: korolev;
}

.productbotton {
    color: #ffffff;
    display: flex;
    justify-content: center;
    background-color: #EB8D3E;
    font-size: xx-large;
    font-family: korolev;
    max-width: 220px;
    min-width: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 40px;
    border-radius: 8px;
    transition: .2s;
}

.productbotton:hover {
    transform: scale(1.1);
    box-shadow: 3px 3px #36363685;
}

.productbotton a {
    color: #FFFFFF;
    padding: 10px;
}

#card__a {
    order: 1;
}

#card__b {
    order: 2;
}

#card__c {
    order: 3;
}

#card__d {
    order: 4;
}

@media only screen and (min-width:600px) {
    .cards__section {
        grid-template-columns: 1fr 1fr;
    }

    #card__a {
        order: 1;
    }

    #card__b {
        order: 3;
    }

    #card__c {
        order: 2;
    }

    #card__d {
        order: 4;
    }
}


@media only screen and (min-width:1200px) {
    .cards__section {
        grid-template-columns: 1fr 1fr;
    }
}

/*CONTACTO*/

.body__contacto {
    background-image: url(../assets/background_contacto.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.main__contact {
    text-align: left;
    font-family: korolev;
}

.info {
    background-color: #ffffff;
    max-width: 800px;
    width: 90%;
    margin-top: 190px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
    display: block;
    overflow: hidden;
}

.info__tittle {
    background-color: #71A362;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 3.5;
}

.info__tittle h2 {
    color: #FFFFFF;
    margin: 0px;
}

.info__parrafo {
    padding: 10px;
    line-height: 2.0;
    margin-top: 0px;
}

.info__parrafo p {
    display: block;
    text-align: left;
    color: #71A362;
    font-size: larger;
    margin: 10px;
}

.info__parrafo p a {
    text-align: left;
    color: #71A362;
    font-size: larger;
}

.info__parrafo a:hover {
    color: #0196f9;
    font-size: larger;
}

.info__google {
    position: relative;
    margin: 20px;
    height: auto;
    overflow: hidden;
}

.ContactCard {
    width: 200px;
    display: flex;
}

.GoogleMaps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
}

/*FORMULARIO*/

.info--var {
    background-color: #ffffff;
    max-width: 800px;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    padding: 0cm;
    display: block;
    overflow: hidden;
}

.info__tittle--var {
    background-color: #E9605C;
    width: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.info__tittle--var h2 {
    color: #FFFFFF;
}

.info__parrafo--var {
    display: block;
    text-align: left;
    color: #50B1BA;
    font-size: larger;
}

.formulario {
    color: #E9605C;
    font-size: larger;
}

.formulario label {
    margin-top: 30px;
}

.formulario legend {
    margin-top: 10px;
}

.formulario .formulario__checklist {
    margin-top: 0px;
    margin-bottom: 0px;
}

.formulario .formulario_comentarybox--label {
    margin-top: 20px;
}

#formulario__boton {
    margin-top: 20px;
}