/*CONTACTO*/

.body__contacto {
    background-image: url(../assets/background_contacto.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.main__contact {
    text-align: left;
    font-family: korolev;
}

.info {
    background-color: #ffffff;
    max-width: 800px;
    width: 90%;
    margin-top: 190px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
    display: block;
    overflow: hidden;
}

.info__tittle {
    background-color: #71A362;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 3.5;
}

.info__tittle h2 {
    color: #FFFFFF;
    margin: 0px;
}

.info__parrafo {
    padding: 10px;
    line-height: 2.0;
    margin-top: 0px;
}

.info__parrafo p {
    display: block;
    text-align: left;
    color: #71A362;
    font-size: larger;
    margin: 10px;
}

.info__parrafo p a {
    text-align: left;
    color: #71A362;
    font-size: larger;
}

.info__parrafo a:hover {
    color: #0196f9;
    font-size: larger;
}

.info__google {
    position: relative;
    margin: 20px;
    height: auto;
    overflow: hidden;
}

.ContactCard {
    width: 200px;
    display: flex;
}

.GoogleMaps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
}

/*FORMULARIO*/

.info--var {
    background-color: #ffffff;
    max-width: 800px;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    padding: 0cm;
    display: block;
    overflow: hidden;
}

.info__tittle--var {
    background-color: #E9605C;
    width: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.info__tittle--var h2 {
    color: #FFFFFF;
}

.info__parrafo--var {
    display: block;
    text-align: left;
    color: #50B1BA;
    font-size: larger;
}

.formulario {
    color: #E9605C;
    font-size: larger;
}

.formulario label {
    margin-top: 30px;
}

.formulario legend {
    margin-top: 10px;
}

.formulario .formulario__checklist {
    margin-top: 0px;
    margin-bottom: 0px;
}

.formulario .formulario_comentarybox--label {
    margin-top: 20px;
}

#formulario__boton {
    margin-top: 20px;
}